<div class="ui menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="resource/images/ng-book-2-minibook.png">
          ng-book 2
        </a>
        <div class="header item borderless">
          <h1 class="ui header">
            Angular 2 Inventory App
          </h1>
        </div>
      </div>
    </div>


<!--div *ngFor = "let product of products">
<h1 >
  {{product.name}}
</h1>
<span>{{product.sku}}</span>
</div-->


 <div class="ui main text container">
  <app-product-list [productList]="products" (onProductSelected)="productWasSelected($event)"> </app-product-list>
 </div>
  